@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "inter",Arial, Helvetica, sans-serif;
}

@layer utilities {
  .rhombus-clip{
    clip-path: polygon(51.8% 0%, 100% 50.1%, 51.8% 100%, 0% 50.1%);
  }
}